<% provide :page_title, "CV" %>

<div class="row">
  <div class="col-xs-9 main-content">
    <ol class="list-group">
      <li class="list-group-item">
      <h2 id="personal">Personal Details</h2>
      <%= table_tag @personal_details %>
      </li>

      <li class="list-group-item">
      <h2 id="skills">Skills</h2>
      <%= table_tag @skills %>
      </li>

      <li class="list-group-item">
      <h2 id="experience">Work Experience</h2>
      <%= list_tag @work_experience %>
      </li>

      <li class="list-group-item">
      <h2 id="objectives">Objectives</h2>
      <%= list_tag @objectives %>
      </li>

      <li class="list-group-item">
      <h2 id="education">Education and Qualification</h2>
      <%= list_tag @education_and_qualification %>
      </li>

      <li class="list-group-item">
      <p>Reference available upon request</p>
      </li>
    </ol>

  </div>

  <div class="col-xs-3">
    <%= render 'nav' %>
  </div>

</div>
