<% provide :page_title, "CV" %>

<div class="row">
  <div class="col-xs-9 main-content">
    <ol class="list-group">
      <li class="list-group-item">
      <%= note "Personal Details", id: "personal" do %>
        <% table_tag @personal_details %>
      <% end %>
      </li>

      <li class="list-group-item">
      <%= note "Skills", id: "skills" do %>
        <% table_tag @skills %>
      <% end %>
      </li>

      <li class="list-group-item">
      <%= note "Work Experience", id: "experience" do %>
        <% list_tag @work_experience %>
      <% end %>
      </li>

      <li class="list-group-item">
      <%= note "Objectives", id: "objectives" do %>
        <% list_tag @objectives %>
      <% end %>
      </li>

      <li class="list-group-item">
      <%= note "Education and Qualification", id: "education" do %>
        <% list_tag @education_and_qualification %>
      <% end %>
      </li>

      <li class="list-group-item">
      <p>Reference available upon request</p>
      </li>
    </ol>

  </div>

  <div class="col-xs-3">
    <%= render 'nav' %>
  </div>

</div>
